# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.env
.venv/
env/
venv/

# Docker
*.log
docker-compose.override.yml

# Secrets
.env

# VSCode
.vscode/

# Backup files
*.bak
*.swp

# Draw.io autosave
*.drawio.bkp
